<link rel="stylesheet" type="text/css" href="shadowdedulet/css/partials/header.css">

<nav>
    <%- include("searchbar.ejs", LOC_ELEMENTS, PARAMS) %>

    <div class="hcontainer name">
        <a href="//<%= URL.host %>/?language=<%= LOCALE %>">shadowdedulet.</a>
    </div>

    <div class="hcontainer profile">
        <div class="hcontainer sign">
            <% if (PARAMS.showSign) { %>
            <div id="signInBtn" class="signBtn"><%= LOC_ELEMENTS.signIn %></div>
            <div id="signUpBtn" class="signBtn"><%= LOC_ELEMENTS.signUp %></div>
            <% } else if (PARAMS.showProfile){ %>
            <a id="profile" class="profile" href="//<%= URL.host %>/profile?language=<%= LOCALE %>" target="_self">
                <img src="shadowdedulet/img/profilePic.png" alt="<%= LOC_ELEMENTS.account %>">
            </a>
            <div id="logout" class="signBtn"><%= LOC_ELEMENTS.logout %></div>
            <% } %>
        </div>
    </div>
</nav>