<div id="signInContainer" class="signContainer">
    <form id="signInForm" class="signForm" method="post" action="http://<%= URL.host %>/signin?language=<%= SITE.localeStr %>">
        <input id="loginIn" name="login" class="login" type="text" placeholder="<%= SITE.login %>">
        <input id="passwordIn" name="password" class="password" type="password" placeholder="<%= SITE.password %>">
        <a class="forgot" href="/?language=<%= SITE.localeStr %>"><%= SITE.forgot %></a>
        <button id="submitIn" class="submit"><%= SITE.signIn %></button>
    </form>
</div>

<div id="signUpContainer" class="signContainer">
    <form id="signUpForm" class="signForm" method="post" action="http://<%= URL.host %>/signup<%= SITE.localeStr %>">
        <input id="loginUp" name="login" class="login" type="text" placeholder="<%= SITE.login %>">
        <input id="passwordUp" name="password" class="password" type="password" placeholder="<%= SITE.password %>">
        <input id="repeatPasswordUp" class="password" type="password" placeholder="<%= SITE.passwordRepeat %>">
        <button id="submitUp" class="submit"><%= SITE.signUp %></button>
    </form>
</div>